.events-container {
    position: relative;
    background: rgb(115, 0, 0);
    background: linear-gradient(90deg, rgba(115, 0, 0, 1) 34%, rgba(198, 0, 0, 1) 100%);
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.events-container h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    color: black;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 150px;
    margin: 8px;
}

img {
    transition: 0.2s ease-in-out;
}

.event-wrapper:hover img {
    transform: translateY(-10px);
    box-shadow: 1px 1px 5px 5px rgb(0, 0, 0, 0.2);
}

.event-wrapper ul {
    max-width: 120px;
    padding: 0;
}

.event-wrapper li {
    margin: 0;
    margin-right: 8px;
}

.event-wrapper h3 {
    color: white;
}

.event-wrapper a {
    color: white;
}