li {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    transition: 0.2s ease-in-out;
}

.events-content li:hover,
.comics-content li:hover,
.heroes-content li:hover {
    transform: scale(1.2);
}

.white-link {
    color: #fff;
    text-decoration: none;
}

h1,
h3 {
    color: white;
}

h1 {
    font-size: 30px;
}

.margin-16 {
    margin: 0 16px;
}

.padding-rl-20 {
    padding: 0 20px;
}

/* HEROES MENU */
.menu-link {
    font-size: 20px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.btn-wrapper {
    background-color: transparent;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.heroes-content {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
}

.heroes-content:hover,
.btn-wrapper:hover+.heroes-content {
    background: rgb(115, 0, 0);
    background: linear-gradient(90deg, rgba(115, 0, 0, 1) 34%, rgba(198, 0, 0, 1) 100%);
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* COMICS MENU */
.btn-wrapper--comics {
    background-color: transparent;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.comics-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.comics-content:hover,
.btn-wrapper--comics:hover+.comics-content {
    background: rgb(115, 0, 0);
    background: linear-gradient(90deg, rgba(115, 0, 0, 1) 34%, rgba(198, 0, 0, 1) 100%);
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* EVENTS MENU */
.btn-wrapper--events {
    background-color: transparent;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.events-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.events-content:hover,
.btn-wrapper--events:hover+.events-content {
    background: rgb(115, 0, 0);
    background: linear-gradient(90deg, rgba(115, 0, 0, 1) 34%, rgba(198, 0, 0, 1) 100%);
    display: flex;
    padding: 40px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comics-content:hover+.btn-wrapper--comics,
.comics-content:active+.btn-wrapper--comics,
.comics-content:focus+.btn-wrapper--comics {
    color: red;
}

.members-btn {
    margin-left: 32px;
}

.heroes-content,
.comics-content,
.events-content {
    box-shadow: 1px 1px 5px 3px rgb(0, 0, 0, 0.2);
}