li {
    display: flex;
    flex-direction: column;
}

l1, l3 {
    color: white
}

l1 {
    font-size: 30px;
}

.margin-16 {
    margin: 0 16px;
}

/* HEROES MENU */
.btn-wrapper {
    background-color: transparent;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.heroes-content {
    position: absolute;
    display: none;
    top: 100%;
    width: 100%;
}

.heroes-content:hover,
.btn-wrapper:hover + .heroes-content {
    background-color: #000;
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* COMICS MENU */
.btn-wrapper--comics {
}

.comics-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.btn-wrapper--comics:hover + .comics-content {
    background-color: #000;
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* EVENTS MENU */
.btn-wrapper--events {
}

.events-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

.events-content:hover, 
.btn-wrapper--events:hover + .events-content {
    background-color: #000;
    display: flex;
    padding: 72px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
