
.events-container {
    position: relative;
    background-color: #f4f4f4;
    width: 70%;
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.events-container l1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    color: black;
}

.event-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-width: 230px;
    margin: 8px;
}

img {
    transition: 0.2s ease-in-out;
}

.event-wrapper:hover img {
    transform: translateY(-10px);
    box-shadow: 1px 1px 5px 5px rgb(0,0,0, 0.2);
}

.event-wrapper ul {
    max-width: 120px;
    padding: 0;
}

.event-wrapper li {
    margin: 0;
    margin-right: 8px;
}

.event-wrapper l3 {
    color: rgb(97, 97, 97);
}
